# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Projects
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.vscode/

# Binaries & DBs
*.class
*.jar
*.war
*.ear
compiler.db
*.log

# OS
.DS_Store
Thumbs.db

# Compiled output
out/

# Temp scripts
run_test.bat
push.ps1
GitHelper.java

# Misc
HELP.md
